# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.metadata/
.bin/
.recommenders/

# Custom
*.class

*.prefs

engineering-log-deskApp/.classpath

engineering-log-deskApp/.settings/org.eclipse.jdt.core.prefs

engineering-log-deskApp/bin/*

engineering-log-deskApp/.project
*.jar
*.dat

engineering-log-phoneApp/.idea/.name

engineering-log-phoneApp/.idea/.name

engineering-log-phoneApp/.idea/gradle.xml

engineering-log-phoneApp/.idea/vcs.xml
engineering-log-phoneApp/.idea/misc.xml

*.png

*.xml
